html {
 	  /* this will make the background cover the entire browser area no matter the width and the height */
	background-image:  url(IMG_3581.jpg);
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
}

html {
	margin: 5em;
}

h1 {
	color: #afd9ee;
}

#firstP {
	color: #2aabd2;
}